/* ------------------------------------------------------------
	Reset Styles (from meyerweb.com)
------------------------------------------------------------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/* ------------------------------------------------------------
	General Styles
------------------------------------------------------------ */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: #f9fafc;
	color: #333;
	font-family: "proxima-nova", sans-serif;
	font-size: 12px;
	line-height: 1;
}

h1 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	margin: 0 0 5px 0;
}

h2 {
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 10px;
	color: #777777;
	margin: 0 0 40px 0;
}

a {
	text-decoration: none;
}

ol, ul {
	list-style: none;
}


/* ------------------------------------------------------------
	Siteap Styles
------------------------------------------------------------ */

.sitemap {
	display: inline-block;
	min-width: 100%;
	padding: 40px;
}

li a {
    position: relative;
	display: block;
	margin: 0;
	padding: 15px;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	white-space: normal;
	color: #333;
	background-color: white;
	border: 1px solid #f5f5f5;
	border-top: 4px solid #95a5a6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px rgba(106,113,127,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(106,113,127,0.2);
    box-shadow: 1px 1px 2px rgba(106,113,127,0.2); 
    z-index: 1;
}

li a:before {
	content: " "attr(href)" ";
	display: block;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	word-wrap: break-word;
	color: #95a5a6;
}

li a small {
	display: block;
	font-weight: normal;
	font-size: 12px;
	margin-top: 10px;
}

/* --- Root --- */
ul, li {
	position: relative;
	display: inline-block;
}

.primary ul li:before,
.primary ul li:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-color: #ddd;
	border-width: 1px;
	z-index: 0;
}

.primary ul li a { border-top-color: #e74c3c; width: auto; }
.primary ul li a:before { color: #e74c3c; }

/* --- Level 1 --- */
.primary ul ul {
	white-space: nowrap;
}

.primary ul ul li {
	position: relative;
	vertical-align: top;
	padding-top: 20px;
	margin-right: 20px;
	white-space: normal;
	width: 100%;
}

.primary ul ul li:last-child {
	padding-right: 0;
}

.primary ul ul li:before {
	border-top-style: solid;
	width: 30px;
	top: 50px;
	margin: 0 0 0 -30px;
}

.primary ul ul li:first-child:before {
	border-top-style: none;
	border-left-style: solid;
	width: 0;
	height: 30px;
	top: 0;
	left: 45px;
	margin: 0 0 0 -30px;
}

.primary ul ul li a { border-top-color: #3498db; width: auto; }
.primary ul ul li a:before { color: #3498db; }

/* --- Level 2 --- */
.primary ul ul ul {
	display: block;
	white-space: normal;
}

.primary ul ul ul li {
	display: block;
	position: relative;
	width: 100%;
	padding-left: 30px;
	margin-right: 0;
}

.primary ul ul ul li:before,
.primary ul ul ul li:first-child:before  {
	border-top-style: none;
	border-left-style: solid;
	height: 100%;
	top: 0;
	left: 45px;
}

.primary ul ul ul li:last-child:before  {
	height: 50px;
}

.primary ul ul ul li:after  {
	border-top-style: solid;
	top: 50px;
	left: 15px;
	width: 15px;
}

.primary ul ul ul li a { border-top-color: #2ecc71; width: auto; }
.primary ul ul ul li a:before { color: #2ecc71; }

/* --- Level 3 --- */
.primary ul ul ul ul li a { border-top-color: #e67e22; }
.primary ul ul ul ul li a:before { color: #e67e22; }

/* --- Level 4 --- */
.primary ul ul ul ul ul li a { border-top-color: #9b59b6; }
.primary ul ul ul ul ul li a:before { color: #9b59b6; }

/* --- Secondary --- */
.secondary {
	display: block;
	margin-top: 20px;
	padding-top: 20px;
	border-top: dotted 2px #eee;
}

.secondary ul {
	white-space: nowrap;
}

.secondary ul li {
	display: inline-block;
	white-space: normal;
	padding: 0 20px 0 0;
}

.secondary ul li:before,
.secondary ul li:after {
	display: none;
}

.secondary ul li:last-child {
	padding: 0;
}

/* --- Widths --- */
.primary > ul > li > a,
.primary > ul > li > ul > li,
.secondary li a {
	width: 220px;
}